
.user-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 16vh);
}

.user-images-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1800px;
    justify-content: center;
    width: 100%;
}

.image-card {
    background-color: var(--background-color);
    border-radius: 10px;
    height: 400px; /* Set a fixed height for the card */
    width: 30%; /* Keep the width at 30% or adjust as needed */
    color: var(--text-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.image-container {
    height: 80%; /* Adjust based on the desired space for images */
    width: 100%;
    overflow: hidden; /* Hide overflow to maintain clean design */
}

.image-container img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-p-container {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-card p {
    font-weight: 700;
    text-transform: capitalize;
}


/* UPLOADS */
.uploads-container {
    display: flex;
    flex-direction: column;
    max-width: 1800px;
    border-bottom: 1px solid  ;
    margin-bottom: 50px;
    align-items: center;
    width: 100%;
}


.uploads-form {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}

.uploads-form button {
    padding: 10px 50px;
    border-radius: 5px;
    border: none;
    font-size: 24px;
    font-weight:600;
    color: var(--text-white);
    background-color: var(--secondary-grey);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.uploads-form button:hover {
    background-color: var(--terciary-grey);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.uploads-field {
    display: flex;
    gap: 10px;
    align-items: center;
}


.uploads-field label {
    font-size: 24px;
    font-weight: 500;
}

.uploads-field input[type="text"] {
    border: none;
    border-bottom: 1px solid var(--text-dark);
    padding: 10px;
    font-size: 20px;
}

.uploads-field input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 20px;
    cursor: pointer;
    border: none;
    background-color: var(--text-dark);
    color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3 ease-in-out;
}

.custom-file-upload:hover {
    background-color: var(--secondary-grey);
}

@media (min-width: 768px) and (max-width: 1100px) {
    .uploads-field {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .image-card {
        width: 100%;
    }

    .uploads-form {
        flex-direction: column;
        width: 100%;
    }

    .uploads-field {
        flex-direction: column;
        align-items: unset;
    }
}