:root {
  --primary-grey: #282c34;
  --secondary-grey: #363a45;
  --terciary-grey: #8d8f95;
  
  --text-white: #f4f4f4;
  --text-dark: #000000;
  --background-color: #f4f4f4;

  --error-color: #a00000;
}

html,body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: var(--primary-grey);
  color: var(--text-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.main-layout {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 2rem;
}

nav {
  background-color: var(--secondary-grey);
  width: 100%;
}

nav img {
  height: 4rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding-left: 0;
}

nav li {
  list-style: none;
  margin-bottom: 10px;
}

nav li a {
  color: var(--text-white);
  font-size: 1.2rem;
  text-decoration: none;
}

.nav-active {
  color: var(--terciary-grey);
  transition: all .3s ease-out;
}

.logout-button {
  background-color: var(--primary-grey);
  color: var(--text-white);
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.logout-button:hover {
  background-color: var(--error-color);
  color: var(--terciary-grey);

}

.hamburger-menu {
  display: none;
}

@media (max-width: 768px) {
  .nav-links {
      display: none;
      flex-direction: column;
      gap: 1rem;
      position: absolute;
      top: 80px;
      right: 20px;
      background-color: var(--secondary-grey);
      padding: 2rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      text-align: center;
  }

  /* Show the nav when open */
  .nav-links.open {
      display: flex;
  }

  /* Hamburger menu visible on mobile */
  .hamburger-menu {
      display: flex;
  }
}
